{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}caralhivros{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <header class="main-header">
            <div class="header-content">
                <a href="{% url 'socials:feed' %}" class="header-icon" title="Feed"><i class="fas fa-home"></i></a>
                <a href="{% url 'users:settings' %}" class="header-icon" title="Configurações"><i class="fas fa-cog"></i></a>
                <a href="{% url 'relations:create_invite' %}" class="header-link">CONVIDAR</a>
                <form action="{% url 'users:logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button" title="Sair">
                        <i class="fas fa-sign-out-alt"></i>
                    </button>
                </form>

            </div>
        </header>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>